.main-category{
    box-shadow: 5px 5px rgb(77, 77, 77);
    .category-wrapper{
        background: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .filter-wrapper{
        background: white;
        padding: 10px;
        border-radius: 5px;
    }
    .dropdown-filter{
        list-style: none;
        padding: 5px 0;
        li{
            padding: 2px 0;
        }
    }
    .list-wrap{
        .main-list{
            margin: 10px 0;
            padding: 10px;
            background: white;
            ul{
                list-style: none;
            }
        }
    }
}
