.forgot-main{
    .forgot-wrap{
        margin: 15px 0;
        border-radius: 5px;
        padding: 20px;
        background: #e6e6e9;
        box-shadow: 0 0 17px 0px black;
        border: 1px solid #e3e3e3;
    }
}