.forgot-main{
    .forgot-wrap{
        margin: 15px 0;
        border-radius: 5px;
        padding: 20px;
        background: #fff;
        box-shadow: 0 0 17px 0px rgba(200, 200, 200, 0.5);
        border: 1px solid #e3e3e3;
    }
}