.terms-condition{
    background-color: white;
    margin: 20px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px rgb(77, 77, 77);
    padding: 20px;
    h3{
        color: $primaryColor;
        font-weight: 700;
        padding: 10px 0;
    }
}